nav{
    display: flex;
    justify-content: center;
   
}

 a{
    margin: 10px;

} 

.navbar {
    
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    margin-left: 2.6rem;
    font-size: 1.4rem;
    background: none;
}

.nav-menu {
    height: 100vh;
    top: 48px;
    left: -100%; 
    transition: 850ms;
}

.nav-menu.active {
    top: 80px;
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height:60px;
}

.nav-text a {
    text-decoration: none;
    font-size: 18px;
    display: flex;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    width: 20%;
    height: 40px;
    display: flex;
}

span {
    margin-left: 16px;
}
button{
    color: #f5f5f5;
}